@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import './vars.css';
  @import './buttons.css';
  @import './pills.css';

  .app-min-max-w {
    @apply min-w-app-min-width max-w-app-max-width;
  }
  .app-main {
    @apply mx-auto app-min-max-w pt-app-height-sidebar lg:pt-0 lg:pl-app-width-sidebar max-h-screen overflow-scroll;
  }
  .app-overlay-content-left {
    @apply absolute z-50 top-0 left-0 w-app-overlay-container-width h-screen overflow-scroll max-h-screen;
  }
  .app-overlay-content-center {
    @apply flex items-center justify-center absolute z-50 top-0 left-0 w-screen h-screen;
  }
  .pt-app-height-sidebar {
    @apply pt-[var(--app-height-sidebar)];
  }
  .pl-app-width-sidebar {
    @apply pl-[var(--app-width-sidebar)];
  }
  .left-app-width-sidebar {
    @apply left-[var(--app-width-sidebar)];
  }
  .w-app-overlay-container-width {
    @apply w-[var(--app-overlay-container-width)];
  }
  .app-truncate-long-word {
    @apply overflow-hidden text-ellipsis;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

.app-text-purple {
  color: rgb(var(--app-purple));
}
.app-bg-lightest {
  background-color: rgba(248, 248, 251, 0.4);
}
