/* 
The following are used for dynamic css class. It does not work with extended colors in Tailwind config file.
i.e. AppButton component.
*/
.app-bg-purple {
  background-color: rgb(var(--app-purple));
}
.app-bg-purple.hover:hover {
  background-color: rgba(124, 93, 250, 0.8);
}
.app-bg-purple-text {
  color: rgb(var(--app-light-default));
}

.app-bg-red {
  background-color: rgb(var(--app-red));
}
.app-bg-red.hover:hover {
  background-color: rgba(236, 87, 87, 0.8);
}
.app-bg-red-text {
  color: rgb(var(--app-light-default));
}

.app-bg-gray {
  background-color: rgb(var(--app-light-200));
}
.app-bg-gray.hover:hover {
  background-color: rgba(192, 192, 192, 0.8);
}
.app-bg-gray-text {
  color: rgb(var(--app-dark-default));
}

.app-bg-dark-gray {
  background-color: rgb(var(--app-dark-700));
}
.app-bg-dark-gray.hover:hover {
  background-color: rgba(37, 41, 69, 0.8);
}
.app-bg-dark-gray-text {
  color: rgb(var(--app-light-default));
}

.app-bg-white {
  background-color: #fff;
}
.app-bg-white.hover:hover {
  background-color: rgb(var(--app-light-default));
}
.app-bg-white-text {
  color: rgb(var(--app-light-200));
}
