/* TODO - remove once fix in the layer components */
.app-status-dot-overdue {
  margin-right: 0.5rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background-color: rgb(var(--app-red));
}
.app-status-pill-overdue {
  /* background-color: rgba(var(--app-light-200), 0.08); does not work: it requires values being separated with a comma */
  background-color: rgba(236, 87, 87, 0.08);
  width: 8rem;
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  text-transform: capitalize;
  color: rgb(var(--app-red));
}

.app-status-dot-completed {
  margin-right: 0.5rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background-color: rgb(0, 249, 0);
}
.app-status-pill-completed {
  background-color: rgba(0, 249, 0, 0.08);
  width: 8rem;
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  text-transform: capitalize;
  color: rgb(0, 249, 0);
}

.app-status-dot-pending {
  margin-right: 0.5rem;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  background-color: rgb(255, 147, 0);
}
.app-status-pill-pending {
  background-color: rgba(255, 147, 0, 0.08);
  width: 8rem;
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  text-transform: capitalize;
  color: rgb(255, 147, 0);
}
