:root {
  --app-width-sm: 640px; /* mobile */
  --app-width-md: 992px;
  --app-width-lg: 1200px;

  --app-min-width: var(--app-width-sm); /* mobile */
  --app-max-width: var(--app-width-lg);

  --app-width-sidebar: 80px;
  --app-height-sidebar: 4rem; /* h-16 */
  --app-overlay-container-width: 400px; /* h-16 */

  --app-dark-900: 20 22 37;
  --app-dark-800: 30 33 57;
  --app-dark-700: 37 41 69;
  --app-dark-default: 12 14 22; /* darkest */

  --app-light-300: 136 142 176;
  --app-light-200: 192 192 192;
  --app-light-100: 223 227 250;
  --app-light-default: 248 248 251; /* lightest */

  --app-purple: 124 93 250;
  --app-purple-hover: 146 119 255;
  --app-red: 236 87 87;
  --app-red-hover: 255 151 151;
  --app-gray: 55 59 84;
  --app-gray-hover: 72, 76, 105;
  --app-dark-gray: var(--app-dark-700);
  --app-dark-gray-hover: var(--app-dark-700-hover);
}
